language: julia
os:
  - linux
julia:
  - nightly
matrix:
  allow_failures:
    - julia: nightly
  fast_finish: true
notifications:
  email: false
after_success:
  - julia -e 'using Pkg;
      Pkg.add("Coverage");
      using Coverage;
      Coveralls.submit(Coveralls.process_folder())'

